@import "../_sharedStyles/colors.scss";

.gfn-main-header {
    background-color: $primary;
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__nav {
        margin-left: auto;
        a {
            display: inline-bloc;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            padding: 8px 12px;
        }
    }
    &__message-container {
        background-color: lighten($primary, 20%);
        min-width: 100%;
        text-align: right;
        padding: 4px 12px;
    }
}